<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Cupcakes!</title>
</head>
<body>
<div class="container">
    <h1>Cupcake Fundraiser</h1>
    <form action="#" method="post">
        <!-- get food -->
        <div class="form-group">
            <label for="name" class="control-label">Your name:</label><br>
            <input class="form-control" type="text" name="name" id="name" value="{{ @userName }}">

            <!-- Display an error message if there is one -->
            <check if="{{ isset(@errors['name']) }}">
                <span class="err">{{ @errors['name'] }}</span>
            </check>

            <label class="control-label">Cupcake flavors:</label><br>
            <repeat group="{{ @flavors }}" value="{{ @flavor }}">
                <label><input type="checkbox"
                              name="flavors[]"
                              value="{{ @flavor }}"
                    <check if="{{ in_array(@flavor, @userFlavors) }}">
                        checked = "checked"
                    </check>
                    > {{ @flavor }} </label><br>

                </label>
            </repeat>
            <!-- Display an error message if there is one -->
            <check if="{{ isset(@errors['flavors']) }}">
                <span class="err">{{ @errors['flavors'] }}</span>
            </check>

        </div>
        <br>
        <input type="submit" class="btn btn-success rounded">
    </form>
</div>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>